[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sttn = { editable = true, path = "." }
pandas = "*"
numpy = "1.24.4"
networkx = "3.1"
geopandas = "0.10.2"
requests = "*"
pyarrow = "*"
scikit-mobility = "*"
haversine = "*"
keplergl = "==0.3.2"
jinja2 = "*"
openai = "*"
urllib3 = "==1.26.18"

[dev-packages]
pytest = "*"
pytest-cov = "*"
notebook = "==6.5.6"
urllib3 = "==1.26.18"

[requires]
python_version = "3.8"
