[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sttn = { editable = true, path = "." }
pandas = "*"
numpy = "*"
networkx = "*"
geopandas = "*"
requests = "*"
pyarrow = "*"
scikit-mobility = "*"
haversine = "*"
keplergl = "*"
jinja2 = "*"
openai = "*"
urllib3 = "==1.26.18"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"
jupyter = "*"
urllib3 = "==1.26.18"

[requires]
python_version = "3.8"
